.jumbotron .display-4 {
	font-size: 33px;
	text-align: center;


}

.jumbotron {
	background-color: #565454;
	color: white;
	padding-top: 25px;
    padding-bottom: 25px;
}

body {
	background-color: white;
}

body i {
	font-size: 15em;

}

.buttonbox {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 75px;

}

.rockb {
	margin-right: 7%;

}


.scissorsb {
	margin-left: 7%;
}

.container {
	display: inline-flex;
	width: 100%;
	margin-top: 50px;

}

.container #playscore {
	background-color: blue;
	
}

.container #compscore {
	background-color: red;
	margin-left: 75%;
	
}

.container #playscore, #compscore {
	border-radius: 20px;
	width: 15%;
	border: solid 1px black;
	text-align: center;
}

body #message {
	text-align: center;
}

.resetb {
	text-align: center;

}

.resetb #resetme {
	height: 40px;
	width: 3%;
	margin-top: 30px;
}